* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.body {
    font-family: Arial, 
    Helvetica, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.main-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px #000000;

}

.bg-section__title {
    margin-bottom: 15px;
    color: #5087ff; 
}

.example-row {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 30px;
    

}

.example-box {
    background: linear-gradient(45deg, #eeacac,#ee66) ;
    color:rgb(255, 255, 255);
    font-size: 20px;
    padding: 40px 60px;
    align-items: center;
    border-radius: 10px;
    
}

.shadow-basic {
    box-shadow: 0px 4px 8px
    rgba(245, 40, 40, 0.2);
}

.shadow-blur {
    box-shadow: 15px 15px 30px
    rgba(133, 5, 184, 0.3);
}

.shadow-multiple {
    box-shadow:
     0px 4px 8px rgba(255, 0, 0, 0.2),
     0px 8px 16px rgba(0, 243, 61, 0.2),
     0px 16px 32px rgba(17, 0, 255, 0.2),
     0px 32px 64px rgba(0, 100, 250, 0.2);
}

.shadow-basic-text {
    text-shadow: 2px 2px 4px rgba(202, 123, 19, 0.8);
}

.shadow-glow {
    text-shadow: 
    0 0 5px rgba(173, 32, 255, 0.8),
    0 0 10px rgba(0, 60, 255, 0.6),
    0 0 15px rgba(255, 0, 0, 0.4),
    0 0 20px rgba(0, 238, 255, 0.2);
}

.border-radius {
    border-radius: 25px 50px 25px 50px;
}

.border-image {
    border: 10px solid;
    border-image: linear-gradient(45deg, #ff6ec4, #7873f5) 1;
}

.outline-effect {
    outline: 10px solid #ff6ec4;
    outline-offset: 10px;
}

.blur-filter {
    filter: blur(1px);
}

.translate {
    transform: translate(10px, 20px);
}

.rotate {
    transform: rotate(45deg);
}

.scale {
    transform: scale(1.5);
}

.skew {
    transform: skew(20deg, 10deg);
}

.translate-rotate {
    transform: translate(10px, 20px) rotate(45deg);
}

.scale-rotate {
    transform: scale(1.2) rotate(180deg);
}

.rotate-x {
    transform: rotateX(45deg);
}

.rotate-y {
    transform: rotateY(45deg);
}

.perspective-basic {
    transform: perspective(200px) rotateX(45deg);
}

.point-center {
    transform-origin: center;
    transform: rotate(45deg);
}

.point-left {
    transform-origin: left;
    transform: rotate(45deg);
}

.point-right {
    transform-origin: right;
    transform: rotate(45deg);
}

.hover-scale:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);

}

.hover-rotate:hover {
    transition: transform 1s ease-in;
    transform: rotate(180deg);

}


.hover-3D:hover {
    transition: transform 1s ease-out;
    transform: perspective(100px) rotateX(50deg);

}


.transition-basic {
    transition: all 1s ease;
}

.transition-basic:hover {
    background: linear-gradient(45deg, #c6f216, #1fd3c3);
    transform: scale(1.2);

}

.transition-delay {
    transition: all 1s ease-in 0.5s;
}

.transition-delay:hover {
    background: linear-gradient(45deg, #c6f216, #1fd3c3);
    transform: translateY(-10px);
}

.transition-timing {
    transition: all 1s ease-in-out;

}

.transition-timing:hover {
    background: linear-gradient(45deg, #c6f216, #1fd3c3);
    transform: rotate(360deg) scale(1.3);
}

.animation-bounce {
    animation: bounce 1s infinite;
 }

 @keyframes bounce {
    0%{
        transform: translateY(0);
    }

     50%{
        transform: translateY(-10px);
    }

     100%{
        transform: translateY(0);
    }
 }

 .animation-pulse {
    animation: pulse 1s infinite;
 }

 @keyframes pulse {
    0%, 100% {
        transform:scale(1);
    }

     50%{
        transform: scale(1.2);
    }

 }

 .animation-spin {
    animation: spin 2s linear infinite;
 }

 @keyframes spin {
    0% {
        transform: rotate(0deg);
    }

     100%{
        transform: rotate(360deg);
    }

 }

.opacity-transition {
    transition: opacity 1s transform ease-in-out;
}

.opacity-transition:hover {
    opacity: 0.5;
    transform: translateY(-10px);
}

.color-transition {
     transition: color 1s ease;

}

.color-transition:hover {
    color: brown;
}


.size-transition {
     transition: font-size 1s ease;
}

.size-transition:hover {
    font-size: 50px;
}